.leaderboard {
    position: relative;
}

.results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Manrope', sans-serif;
}

ul {
    display: block;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #044709;
    background-color: white;
    opacity: 0.6;
    padding: 10px 15px;
}

li {
    font-size: 1.5rem;
    list-style: none;
    font-family: 'Manrope', sans-serif;
    color: #044709;
    opacity: 1;
}

img {
    width: 100%;
    height: auto;
}

body {
}

